<div class="comment-form">

    <form class="comment-form__form" [formGroup]="addCommentForm"
        (ngSubmit)="addNewComment(email.value,name.value,body.value)">

        <mat-form-field class="comment-form__field">
            <mat-label>Email *</mat-label>
            <input [ngStyle]="emailValidate ? {'color': 'green'}:{'color': 'red'}" matInput formControlName="email"
                (ngModelChange)="checkEmail($event)" placeholder="email *" #email>
        </mat-form-field>

        <mat-form-field class="comment-form__field">
            <mat-label>Name *</mat-label>
            <input (ngModelChange)="checkNameNotEmpty($event)" matInput formControlName="name" placeholder="name *"
                #name>
        </mat-form-field>

        <mat-form-field class="comment-form__field">
            <mat-label>Enter your comment *</mat-label>
            <textarea (ngModelChange)="checkCommentNotEmpty($event)" matInput formControlName="body" placeholder="Body"
                #body></textarea>
        </mat-form-field>

        <div>
            <button [disabled]="!formValidate" mat-raised-button color="primary" type="submit">Send new comment</button>
            <app-spinner *ngIf="loader"></app-spinner>
        </div>

    </form>
</div>