<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="address">
            Address
        </label>
        <input id="address" type="text" formControlName="address">
    </div>

    <button class="button" type="submit">Purchase</button>

</form>

<mat-card *ngFor="let post of postsFromApi">
    <a routerLink="/second-component/" [queryParams]="{ id: post.id}" routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <mat-card-content>{{post.title}}</mat-card-content>
    </a>
</mat-card>
<router-outlet></router-outlet>