.display-posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: center;
    margin-top: 86px;

    &__card {
        width: 100%;
        display: table-cell;
        font-size: 14px;
        margin-left: 8px;
        min-width: 120px;
    }

    &__button {
        display: table-cell;
        max-width: 600px;
    }
}