<ng-container *ngIf="getAllPosts">
    <div class="display-posts">
        <app-spinner *ngIf="!getAllPosts"></app-spinner>

        <section>
            <div class="display-posts__button">
                <button (click)="toggleFormAddPost()" mat-raised-button color="primary">Add new post</button>
            </div>
        </section>

        <app-post-form *ngIf="displayFormAddPost" (newItemEvent)="addNewPost($event)"></app-post-form>

        <mat-card class="display-posts__card" *ngFor="let post of postsFromApi">
            <a routerLink="/post-details/" [queryParams]="{ id: post.id}" routerLinkActive="active"
                ariaCurrentWhenActive="page">
                <mat-card-content>{{post.title}}</mat-card-content>
            </a>
        </mat-card>

    </div>

</ng-container>
<router-outlet></router-outlet>